#pic {
position:relative;
}

.hanzi {
	position: relative;
	width: 100px;
	height: 120px;
  float:left;
  margin-right: 1px;
}
.who {
	top: 80px;
	left: 0px;
	width: 100px;
	height: 20px;
	position: absolute;
	z-index: 10;
  background:white;
  padding-left: 5px;
  text-align: center;
}
img {
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
	position: absolute;
}
